<ngx-spinner></ngx-spinner>
<jaspero-alerts [defaultSettings]="AlertSettings"></jaspero-alerts>
<div class="container-fluid">
    <div id="responsive-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" *ngIf="tombol=='tambah'"><b>Tambah Data Customer</b></h4> 
                    <h4 class="modal-title" *ngIf="tombol=='edit'"><b>Edit Data Customer</b></h4> 
                </div>
                <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
                <div class="modal-body">
                        <div class="form-group">
                            <label for="nama" class="control-label">Nama Customer</label>
                            <input type="text" class="form-control" [(ngModel)]="nama" name="nama" formControlName="nama" [ngClass]="{ 'is-invalid': submitted && f.nama.errors }"> 
                            <div *ngIf="submitted && f.nama.errors" class="invalid-feedback">
                                <div *ngIf="f.nama.errors.required" style="color: red; font-style: italic;">Nama Wajib Diisi</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="alamat" class="control-label">Alamat</label>
                            <textarea class="form-control" [(ngModel)]="alamat" name="alamat" formControlName="alamat" [ngClass]="{ 'is-invalid': submitted && f.alamat.errors }"></textarea>
                            <div *ngIf="submitted && f.alamat.errors" class="invalid-feedback">
                                <div *ngIf="f.alamat.errors.required" style="color: red; font-style: italic;">Alamat Wajib Diisi</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="notelp" class="control-label">No.Telp</label>
                            <input type="text" class="form-control" [(ngModel)]="notelp" name="notelp" formControlName="notelp" [ngClass]="{ 'is-invalid': submitted && f.notelp.errors }"> 
                            <div *ngIf="submitted && f.notelp.errors" class="invalid-feedback">
                                <div *ngIf="f.notelp.errors.required" style="color: red; font-style: italic;">No.Telp Wajib Diisi</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tanggallahir" class="control-label">Tanggal Lahir</label>
                            <input type="date" class="form-control" [(ngModel)]="tanggallahir" name="tanggallahir" formControlName="tanggallahir" [ngClass]="{ 'is-invalid': submitted && f.tanggallahir.errors }"> 
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Batal</button>
                    <button class="btn btn-success waves-effect waves-light">Simpan</button>
                </div>
                </form>
            </div>
        </div>
    </div> 
    <!-- /row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="white-box">
                <h3 align="center"><b>DATA CUSTOMER</b></h3>
                <button class="btn btn-success" (click)="tambah()"><i class="fa fa-plus"></i> Tambah Customer</button><br><br> <!-- data-toggle="modal" data-target="#responsive-modal"-->
                <input type="text" class="form-control" placeholder="Cari Customer.." style="width: 50%;" (keyup)="cari()" [(ngModel)]="txtcari" name="txtcari"><br>
                <table *ngIf="items[0].id != null" class="tablesaw table-bordered table-hover table" data-tablesaw-mode="stack"> <!-- data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch -->
                    <thead>
                        <tr>
                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-tablesaw-priority="persist">Nama</th>
                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">Alamat</th>
                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="3">No Telp</th>
                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">Tgl Lahir</th>
                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of items">
                            <td (click)="edit(item)"><a>{{ item.nama }}</a></td>
                            <td>{{ item.alamat }}</td>
                            <td>{{ item.notelp }}</td>
                            <td>{{ item.tanggallahir | date: 'dd-M-yyyy'}}</td>
                            <td class="text-nowrap">
                                <a data-toggle="tooltip" data-original-title="Edit" (click)="edit(item)"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                <a data-toggle="tooltip" data-original-title="Hapus" (click)="hapus(item)"> <i class="fa fa-close text-danger m-r-10"></i> </a>
                                <a [routerLink]="['/customer/resep/',item.id]" class="btn btn-primary btn-sm">Resep</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="items[0].id == null"><b>[ TIDAK ADA DATA CUSTOMER! ]</b></div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->
